$fontFamily: 'Source Code Pro', monospace;

$white: #fff;
$blue: #0057dc;
$silver: #ced6e0;
$black: #1c1d27;

$bodyBg: #d0ebff;
$formShadowColor: #5a7494;
$input-color: #1a3b5d;
$error: #ff0000;

$path-img: '../assets/images'
