.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 220px auto 0;
	padding: 140px 30px 10px;
	max-width: 570px;
	min-width: 360px;
	width: 90%;
	background-color: $white;
	border-radius: 10px;
	box-shadow: 0 30px 60px 0 rgb($formShadowColor, 0.4);
	position: relative;
}

.form-field {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-bottom: 25px;
	position: relative;
}

.form-label {
	width: fit-content;
	color: $input-color;
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 5px;
	cursor: pointer;
}

.form-control {
	border-radius: 5px;
	height: 50px;
	padding-inline: 15px;
	font-size: 18px;
	font-weight: 500;
	background-color: $white;
	border: 1px solid $silver;
	transition: all 0.3s ease-in-out;
	color: $input-color;
	font-family: $fontFamily;

	&:hover,
	&:focus {
		border-color: $blue;
		box-shadow: 0 0 4px 2px rgba($blue, 0.2);
	}

	&.invalid {
		border-color: $error;
		box-shadow: none;
	}
	&.select {
		appearance: none;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAeCAYAAABuUU38AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNrM1sEJwkAQBdCsngXPHsQO9O5FS7AAMVYgdqAd2IGCDWgFnryLFQiCZ8EGnJUNimiyM/tnk4HNEAg/8y6ZmMRVqz9eUJvRaSbvutCZ347bXVJy/ZnvTmdJ862Me+hAbZCTs6GHpyUi1tTSvPnqTpoWZPUa7W7ncT3vK4h4zVejy8QzM3WhVUO8ykI6jOxoGA4ig3BLHcNFSCGqGAkig2yqgpEiMsjSfY9LxYQg7L6r0X6wS29YJiYQYecemY+wHrXD1+bklGhpAhBDeu/JfIVGxaAQ9sb8CI+CQSJ+QmJg0Ii/EE2MBiIXooHRQhRCkBhNhBcEhLkwf05ZCG8ICCOpk0MULmvDSY2M8UawIRExLIQIEgHDRoghihgRIgiigBEjgiFATBACAgFgghEwSAAGgoBCBBgYAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC);
		background-size: 12px;
		background-position: 90% center;
		background-repeat: no-repeat;
		padding-right: 15px;
	}

	&.btn {
		height: 55px;
		background: $blue;
		font-size: 22px;
		color: $white;
		border-color: transparent;

		&:hover {
			opacity: 0.9;
		}
	}
}

.field-group {
	display: flex;
	align-items: flex-end;
	width: 100%;
	position: relative;

	.form-field {
		padding-right: 15px;
		width: calc(100% / 3);

		&:last-of-type {
			padding-inline: 15px 0;
		}
	}
}

.error-message {
	position: absolute;
	top: calc(100% - 23px);
	font-size: 11px;
	font-weight: 500;
	color: $error;
}
